<!-- <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> -->

<!DOCTYPE html>
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/404.css" />

</head>
<body>
    <%- include('./partials/nav') %>

    <main>
        <div class="message" >
            <h1>404</h1>
            <h1>ν•΄λ‹Ή νμ΄μ§€λ¥Ό μ°Ύμ§€ λ»ν–μµλ‹λ‹¤.</h1>
            <p>μ£Όμ†κ°€ μλ»λμ—κ±°λ‚ λ” μ΄μƒ μ κ³µλμ§€ μ•λ” νμ΄μ§€ μ…λ‹λ‹¤.</p>
            <a href="/">λ©”μΈνμ΄μ§€λ΅ μ΄λ™ π πƒβ€β™‚οΈ &zwj;</a>
        </div>
        <div class="img">
            <img src="img/svg/emoji-dizzy.svg" alt="" id="emoji-dizzy">
        </div>
    </main>
</body>
</html>
